/***********************************************************************
utility rule
**********************************************************************/

/* clearfix
----------------------------------------------------------------------*/

.u-cf:after {
  display: block;
  clear: both;
  content: '';
}

/* imghover
----------------------------------------------------------------------*/

.u-ov:hover img {
  opacity: .8;
}
